.main{
  width: 1440px;
  height: 1140px;
  background: #151929;
  position: relative;
  margin-left: 200px;
  margin-bottom: 20px;
}

.bgg{
  background-image: url('images/admin.png'); 
}
 
/* background: linear-gradient(135deg, rgba(0,0,0,0) 100%,
rgba(0,0,0,0) 0%), url('images/admin.png');
background-repeat: no-repeat;
background-attachment: fixed;
background-size:cover;
} */





